<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>Vanilla confirmation modal</title>
  </head>

  <body>
    <form method="POST" onclick="return submitForm(this);">

        <input type="submit" />
    </form>

    <script>
        function submitForm(form) {
            swal({
                title: "Are you sure?",
                text: "This form will be submitted",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function (isOkay) {
                if (isOkay) {
                    form.submit();
                }
            });
            return false;
        }
    </script>
  </body>
</html>









<button type="submit" href="" class="mr-10">
  <i
    class="fa-solid fa-trash"
    onclick="return confirm('Are you sure you want to delete this item?');"
  ></i>
</button>

<a href="/admin/logout">LOGOUT</a>
